################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RemoteCtrl/.vs/RemoteCtrl/v16/ipch
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/.vs/RemoteCtrl/v16
